<!doctype html>
<html>
    <head>
        <title>Chrpr App</title>
        <link href="lib/bower_components/skeleton/css/normalize.css" rel="stylesheet">
        <link href="lib/bower_components/skeleton/css/skeleton.css" rel=stylesheet>
        <link href="style.css" rel = stylesheet>
        
    </head>
    <body>
    
        <script src="main.js" type="text/javascript"></script>
    </body>
</html>